@{
    ViewData["Title"] = "Characters";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div style="margin: 0 auto; margin-top: 20px; text-align: center;">
            @* Unaffiliated *@
            <h2>Unaffiliated</h2>
            <div class="list-inline">
                <a class="list-inline-item" asp-controller="Character" asp-action="Byleth"><img class="byleth lord" src="~/img/data/characters/byleth-m-mixed.png" title="Byleth [M]" /><img class="byleth lord" style="margin-left: 10px;" src="~/img/data/characters/byleth-f-mixed.png" title="Byleth [F]" /><br />Byleth Eisner</a>
                <br />
                <a class="list-inline-item" asp-controller="Character" asp-action="Jeralt"><img class="unaffiliated" src="~/img/data/characters/jeralt.png" title="Jeralt" /><br />Jeralt Eisner</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Sothis"><img class="unaffiliated" src="~/img/data/characters/sothis.png" title="Sothis" /><br />Sothis</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Anna"><img class="unaffiliated dlc" src="~/img/data/characters/anna.png" title="Anna" /><br />Anna</a>
            </div>
            @* Black Eagles *@
            <h2 style="margin-top: 20px;"><img class="banner" src="~/img/data/routes/black-eagles.png" title="Black Eagles" />Black Eagles - <i>Crimson Flower</i><img class="banner" src="~/img/data/routes/adrestian-empire.png" title="Adrestian Empire" /></h2>
            <div class="list-inline">
                <a class="list-inline-item" asp-controller="Character" asp-action="Edelgard"><img class="blackEagles lord" src="~/img/data/characters/edelgard-mixed.png" title="Edelgard" /><br />Edelgard von Hresvelg</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Hubert"><img class="blackEagles" src="~/img/data/characters/hubert-mixed.png" title="Hubert" /><br />Hubert von Vestra</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Dorothea"><img class="blackEagles" src="~/img/data/characters/dorothea-mixed.png" title="Dorothea" /><br />Dorothea Arnault</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Ferdinand"><img class="blackEagles" src="~/img/data/characters/ferdinand-mixed.png" title="Ferdinand" /><br />Ferdinand von Aegir</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Bernadetta"><img class="blackEagles" src="~/img/data/characters/bernadetta-mixed.png" title="Bernadetta" /><br />Bernadetta von Varley</a>
                <br />
                <a class="list-inline-item" asp-controller="Character" asp-action="Caspar"><img class="blackEagles" src="~/img/data/characters/caspar-mixed.png" title="Caspar" /><br />Caspar von Bergliez</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Petra"><img class="blackEagles" src="~/img/data/characters/petra-mixed.png" title="Petra" /><br />Petra Macneary</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Linhardt"><img class="blackEagles" src="~/img/data/characters/linhardt-mixed.png" title="Linhardt" /><br />Linhardt von Hevring</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Jeritza"><img class="blackEagles dlc" src="~/img/data/characters/jeritza-mixed.png" title="Jeritza" /><br />Jeritza von Hrym</a>
            </div>
            @* Blue Lions *@
            <h2 style="margin-top: 20px;"><img class="banner" src="~/img/data/routes/blue-lions.png" title="Blue Lions" />Blue Lions - <i>Azure Moon</i><img class="banner" src="~/img/data/routes/holy-kingdom-of-faerghus.png" title="Holy Kingdom of Faerghus" /></h2>
            <div class="list-inline">
                <a class="list-inline-item" asp-controller="Character" asp-action="Dimitri"><img class="blueLions lord" src="~/img/data/characters/dimitri-mixed.png" title="Dimitri" /><br />Dimitri Alexandre Blaiddyd</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Dedue"><img class="blueLions" src="~/img/data/characters/dedue-mixed.png" title="Dedue" /><br />Dedue Molinaro</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Felix"><img class="blueLions" src="~/img/data/characters/felix-mixed.png" title="Felix" /><br />Felix Hugo Fraldarius</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Mercedes"><img class="blueLions" src="~/img/data/characters/mercedes-mixed.png" title="Mercedes" /><br />Mercedes von Martritz</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Ashe"><img class="blueLions" src="~/img/data/characters/ashe-mixed.png" title="Ashe" /><br />Ashe Ubert</a>
                <br />
                <a class="list-inline-item" asp-controller="Character" asp-action="Annette"><img class="blueLions" src="~/img/data/characters/annette-mixed.png" title="Annette" /><br />Annette Fantine Dominic</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Sylvain"><img class="blueLions" src="~/img/data/characters/sylvain-mixed.png" title="Sylvain" /><br />Sylvain Jose Gautier</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Ingrid"><img class="blueLions" src="~/img/data/characters/ingrid-mixed.png" title="Ingrid" /><br />Ingrid Brandl Galatea</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Gilbert"><img class="blueLions" src="~/img/data/characters/gilbert.png" title="Gilbert" /><br />Gilbert Pronislav</a>
            </div>
            @* Golden Deer *@
            <h2 style="margin-top: 20px;"><img class="banner" src="~/img/data/routes/golden-deer.png" title="Golden Deer" />Golden Deer - <i>Verdant Wind</i><img class="banner" src="~/img/data/routes/leicester-alliance.png" title="Leicester Alliance" /></h2>
            <div class="list-inline">
                <a class="list-inline-item" asp-controller="Character" asp-action="Claude"><img class="goldenDeer lord" src="~/img/data/characters/claude-mixed.png" title="Claude" /><br />Claude von Riegan</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Lorenz"><img class="goldenDeer" src="~/img/data/characters/lorenz-mixed.png" title="Lorenz" /><br />Lorenz Hellman Gloucester</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Hilda"><img class="goldenDeer" src="~/img/data/characters/hilda-mixed.png" title="Hilda" /><br />Hilda Valentine Goneril</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Raphael"><img class="goldenDeer" src="~/img/data/characters/raphael-mixed.png" title="Raphael" /><br />Raphael Kirsten</a>
                <br />
                <a class="list-inline-item" asp-controller="Character" asp-action="Lysithea"><img class="goldenDeer" src="~/img/data/characters/lysithea-mixed.png" title="Lysithea" /><br />Lysithea von Ordelia</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Ignatz"><img class="goldenDeer" src="~/img/data/characters/ignatz-mixed.png" title="Ignatz" /><br />Ignatz Victor</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Marianne"><img class="goldenDeer" src="~/img/data/characters/marianne-mixed.png" title="Marianne" /><br />Marianne von Edmund</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Leonie"><img class="goldenDeer" src="~/img/data/characters/leonie-mixed.png" title="Leonie" /><br />Leonie Pinelli</a>
            </div>
            @* Church of Seiros *@
            <h2 style="margin-top: 20px;"><img class="banner" src="~/img/data/routes/church-of-seiros.png" title="Church of Seiros" />Church & Knights of Seiros - <i>Silver Snow</i><img class="banner" src="~/img/data/routes/knights-of-seiros.png" title="Knights of Seiros" /></h2>
            <div class="list-inline">
                <a class="list-inline-item" asp-controller="Character" asp-action="Rhea"><img class="churchOfSeiros" src="~/img/data/characters/rhea.png" title="Rhea" /><br />Rhea</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Manuela"><img class="churchOfSeiros" src="~/img/data/characters/manuela.png" title="Manuela" /><br />Manuela Cassagranda</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Hanneman"><img class="churchOfSeiros" src="~/img/data/characters/hanneman.png" title="Hanneman" /><br />Hanneman von Essar</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Seteth"><img class="churchOfSeiros" src="~/img/data/characters/seteth.png" title="Seteth" /><br />Seteth</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Flayn"><img class="churchOfSeiros" src="~/img/data/characters/flayn.png" title="Flayn" /><br />Flayn</a>
                <br />
                <a class="list-inline-item" asp-controller="Character" asp-action="Cyril"><img class="churchOfSeiros" src="~/img/data/characters/cyril-mixed.png" title="Cyril" /><br />Cyril</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Catherine"><img class="churchOfSeiros" src="~/img/data/characters/catherine.png" title="Catherine" /><br />Cassandra Rubens Charon</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Alois"><img class="churchOfSeiros" src="~/img/data/characters/alois.png" title="Alois" /><br />Alois Rangeld</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Shamir"><img class="churchOfSeiros" src="~/img/data/characters/shamir.png" title="Shamir" /><br />Shamir Nevrand</a>
            </div>
            @* Ashen Wolves *@
            <h2 style="margin-top: 20px;">Ashen Wolves - <i>Cindered Shadows</i></h2>
            <div class="list-inline">
                <a class="list-inline-item" asp-controller="Character" asp-action="Yuri"><img class="ashenWolves dlc" src="~/img/data/characters/yuri.png" title="Yuri" /><br />Yuri</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Hapi"><img class="ashenWolves dlc" src="~/img/data/characters/hapi.png" title="Hapi" /><br />Hapi</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Balthus"><img class="ashenWolves dlc" src="~/img/data/characters/balthus.png" title="Balthus" /><br />Balthus</a>
                <a class="list-inline-item" asp-controller="Character" asp-action="Constance"><img class="ashenWolves dlc" src="~/img/data/characters/constance.png" title="Constance" /><br />Constance</a>
            </div>
        </div>
    </div>
</div>