@{
    ViewData["Title"] = "Characters";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="list-group" style="margin: 0 auto; margin-top: 20px; text-align: center;">
            @* Other *@
            <h2>Unaffiliated</h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Byleth"><img src="~/img/data/characters/byleth-m.png" title="Byleth [M]" style="width: 14.7%;" /><img src="~/img/data/characters/byleth-m-ts.png" title="Progenitor God Byleth [M]" style="width: 14.7%;" /><img src="~/img/data/characters/byleth-f.png" title="Byleth [F]" style="width: 15%;" /><img src="~/img/data/characters/byleth-f-ts.png" title="Progenitor God Byleth [F]" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Jeralt"><img src="~/img/data/characters/jeralt.png" title="Jeralt" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Sothis"><img src="~/img/data/characters/sothis.png" title="Sothis" style="width: 15%;" /></a>
            @* Black Eagles *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/black-eagles.png" title="Black Eagles" style="width: 7%;" /> Black Eagles / Crimson Flower <img src="~/img/data/routes/adrestian-empire.png" title="Adrestian Empire" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Edelgard"><img src="~/img/data/characters/edelgard.png" title="Edelgard" style="width: 13.7%;" /><img src="~/img/data/characters/edelgard-ts.png" title="Edelgard" style="width: 15%;" /><img src="~/img/data/characters/edelgard-hegemon.png" title="Edelgard (Hegemon)" style="width: 15%;" /></a>
            @* Blue Lions *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/blue-lions.png" title="Blue Lions" style="width: 7%;" /> Blue Lions / Azure Moon <img src="~/img/data/routes/holy-kingdom-of-faerghus.png" title="Holy Kingdom of Faerghus" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Dimitri"><img src="~/img/data/characters/dimitri.png" title="Dimitri" style="width: 15%;" /><img src="~/img/data/characters/dimitri-ts.png" title="Dimitri" style="width: 15%;" /><img src="~/img/data/characters/dimitri-ts-eyepatch.png" title="Dimitri" style="width: 15%;" /></a>
            @* Golden Deer *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/golden-deer.png" title="Golden Deer" style="width: 7%;" /> Golden Deer / Verdant Wind <img src="~/img/data/routes/leicester-alliance.png" title="Leicester Alliance" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Claude"><img src="~/img/data/characters/claude.png" title="Claude" style="width: 13.2%;" /><img src="~/img/data/characters/claude-ts.png" title="Claude" style="width: 15%;" /></a>
            @* Church *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/knights-of-seiros.png" title="Knights of Seiros" style="width: 7%;" /> Knights/Church of Seiros / Silver Snow <img src="~/img/data/routes/church-of-seiros.png" title="Church of Seiros" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Rhea"><img src="~/img/data/characters/rhea.png" title="Lady Rhea" style="width: 15%;" /><img src="~/img/data/characters/rhea-weak.png" title="Lady Rhea" style="width: 15%;" /><img src="~/img/data/characters/rhea-seiros.png" title="Seiros" style="width: 13.7%;" /><img src="~/img/data/characters/rhea-dragon.png" title="The Immaculate One" style="width: 15%;" /></a>
        </div>
    </div>
</div>