@{
    ViewData["Title"] = "Characters";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="list-group" style="margin: 0 auto; margin-top: 20px; text-align: center;">
            @* Other *@
            <h2>Unaffiliated</h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Byleth"><img src="~/img/data/characters/byleth-m.png" title="Byleth [M]" style="width: 14.7%;" /><img src="~/img/data/characters/byleth-m-ts.png" title="Progenitor God Byleth [M]" style="width: 14.7%;" /><img src="~/img/data/characters/byleth-f.png" title="Byleth [F]" style="width: 15%;" /><img src="~/img/data/characters/byleth-f-ts.png" title="Progenitor God Byleth [F]" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Jeralt"><img src="~/img/data/characters/jeralt.png" title="Jeralt" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Sothis"><img src="~/img/data/characters/sothis.png" title="Sothis" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Anna"><img src="~/img/data/characters/anna.png" title="Anna" style="width: 15%;" /></a>
            @* Black Eagles *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/black-eagles.png" title="Black Eagles" style="width: 7%;" /> Black Eagles / Crimson Flower <img src="~/img/data/routes/adrestian-empire.png" title="Adrestian Empire" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Edelgard"><img src="~/img/data/characters/edelgard.png" title="Edelgard" style="width: 13.7%;" /><img src="~/img/data/characters/edelgard-ts.png" title="Edelgard" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Hubert"><img src="~/img/data/characters/hubert.png" title="Hubert" style="width: 15%;" /><img src="~/img/data/characters/hubert-ts.png" title="Hubert" style="width: 15.6%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Dorothea"><img src="~/img/data/characters/dorothea.png" title="Dorothea" style="width: 15%;" /><img src="~/img/data/characters/dorothea-ts.png" title="Dorothea" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Ferdinand"><img src="~/img/data/characters/ferdinand.png" title="Ferdinand" style="width: 15%;" /><img src="~/img/data/characters/ferdinand-ts.png" title="Ferdinand" style="width: 15.4%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Bernadetta"><img src="~/img/data/characters/bernadetta.png" title="Bernadetta" style="width: 15%;" /><img src="~/img/data/characters/bernadetta-ts.png" title="Bernadetta" style="width: 17.2%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Caspar"><img src="~/img/data/characters/caspar.png" title="Caspar" style="width: 15%;" /><img src="~/img/data/characters/caspar-ts.png" title="Caspar" style="width: 16.5%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Petra"><img src="~/img/data/characters/petra.png" title="Petra" style="width: 15%;" /><img src="~/img/data/characters/petra-ts.png" title="Petra" style="width: 16%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Linhardt"><img src="~/img/data/characters/linhardt.png" title="Linhardt" style="width: 16.5%;" /><img src="~/img/data/characters/linhardt-ts.png" title="Linhardt" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Jeritza"><img src="~/img/data/characters/jeritza.png" title="Jeritza" style="width: 15%;" /><img src="~/img/data/characters/jeritza-ts.png" title="Death Knight" style="width: 15%;" /></a>
            @* Blue Lions *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/blue-lions.png" title="Blue Lions" style="width: 7%;" /> Blue Lions / Azure Moon <img src="~/img/data/routes/holy-kingdom-of-faerghus.png" title="Holy Kingdom of Faerghus" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Dimitri"><img src="~/img/data/characters/dimitri.png" title="Dimitri" style="width: 15%;" /><img src="~/img/data/characters/dimitri-ts.png" title="Dimitri" style="width: 15%;" /><img src="~/img/data/characters/dimitri-ts-eyepatch.png" title="Dimitri" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Dedue"><img src="~/img/data/characters/dedue.png" title="Dedue" style="width: 15%;" /><img src="~/img/data/characters/dedue-ts.png" title="Dedue" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Felix"><img src="~/img/data/characters/felix.png" title="Felix" style="width: 15%;" /><img src="~/img/data/characters/felix-ts.png" title="Felix" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Mercedes"><img src="~/img/data/characters/mercedes.png" title="Mercedes" style="width: 15%;" /><img src="~/img/data/characters/mercedes-ts.png" title="Mercedes" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Ashe"><img src="~/img/data/characters/ashe.png" title="Ashe" style="width: 15%;" /><img src="~/img/data/characters/ashe-ts.png" title="Ashe" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Annette"><img src="~/img/data/characters/annette.png" title="Annette" style="width: 15%;" /><img src="~/img/data/characters/annette-ts.png" title="Annette" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Sylvain"><img src="~/img/data/characters/sylvain.png" title="Sylvain" style="width: 15%;" /><img src="~/img/data/characters/sylvain-ts.png" title="Sylvain" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Ingrid"><img src="~/img/data/characters/ingrid.png" title="Ingrid" style="width: 15%;" /><img src="~/img/data/characters/ingrid-ts.png" title="Ingrid" style="width: 15%;" /></a>
            @* Golden Deer *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/golden-deer.png" title="Golden Deer" style="width: 7%;" /> Golden Deer / Verdant Wind <img src="~/img/data/routes/leicester-alliance.png" title="Leicester Alliance" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Claude"><img src="~/img/data/characters/claude.png" title="Claude" style="width: 13.2%;" /><img src="~/img/data/characters/claude-ts.png" title="Claude" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Lorenz"><img src="~/img/data/characters/lorenz.png" title="Lorenz" style="width: 15%;" /><img src="~/img/data/characters/lorenz-ts.png" title="Lorenz" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Hilda"><img src="~/img/data/characters/hilda.png" title="Hilda" style="width: 15%;" /><img src="~/img/data/characters/hilda-ts.png" title="Hilda" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Raphael"><img src="~/img/data/characters/raphael.png" title="Raphael" style="width: 15%;" /><img src="~/img/data/characters/raphael-ts.png" title="Raphael" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Lysithea"><img src="~/img/data/characters/lysithea.png" title="Lysithea" style="width: 15%;" /><img src="~/img/data/characters/lysithea-ts.png" title="Lysithea" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Ignatz"><img src="~/img/data/characters/ignatz.png" title="Ignatz" style="width: 15%;" /><img src="~/img/data/characters/ignatz-ts.png" title="Ignatz" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Marianne"><img src="~/img/data/characters/marianne.png" title="Marianne" style="width: 15%;" /><img src="~/img/data/characters/marianne-ts.png" title="Marianne" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Leonie"><img src="~/img/data/characters/leonie.png" title="Leonie" style="width: 15%;" /><img src="~/img/data/characters/leonie-ts.png" title="Leonie" style="width: 15%;" /></a>
            @* Church *@
            <h2 style="margin-top: 20px;"><img src="~/img/data/routes/knights-of-seiros.png" title="Knights of Seiros" style="width: 7%;" /> Knights & Church of Seiros / Silver Snow <img src="~/img/data/routes/church-of-seiros.png" title="Church of Seiros" style="width: 7%;" /></h2>
            <a class="list-group-item" asp-controller="Character" asp-action="Rhea"><img src="~/img/data/characters/rhea.png" title="Lady Rhea" style="width: 15%;" /><img src="~/img/data/characters/rhea-weak.png" title="Lady Rhea" style="width: 15%;" /><img src="~/img/data/characters/rhea-seiros.png" title="Seiros" style="width: 13.7%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Manuela"><img src="~/img/data/characters/manuela.png" title="Manuela" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Hanneman"><img src="~/img/data/characters/hanneman.png" title="Hanneman" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Seteth"><img src="~/img/data/characters/seteth.png" title="Seteth" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Flayn"><img src="~/img/data/characters/flayn.png" title="Flayn" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Cyril"><img src="~/img/data/characters/cyril.png" title="Cyril" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Catherine"><img src="~/img/data/characters/catherine.png" title="Catherine" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Alois"><img src="~/img/data/characters/alois.png" title="Alois" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Gilbert"><img src="~/img/data/characters/gilbert.png" title="Gilbert" style="width: 15%;" /></a>
            <a class="list-group-item" asp-controller="Character" asp-action="Shamir"><img src="~/img/data/characters/shamir.png" title="Shamir" style="width: 15%;" /></a>
        </div>
    </div>
</div>