@{
    ViewData["Title"] = "Index";
}

@* Content *@

<div class="jumbotron-fluid" style="height: 600px; background-size: cover; background-image: url('img/title.jpg');"></div>
<div class="jumbotron-fluid">
    <div class="container">
        <div class="list-group" style="margin: 0 auto; margin-top: 20px; width: 400px; text-align: center;">
            <a class="list-group-item" asp-controller="Home" asp-action="Characters">Characters</a>
            <a class="list-group-item" asp-controller="Home" asp-action="Classes">Classes</a>
            <a class="list-group-item" asp-controller="Home" asp-action="Skills">Skills</a>
            <a class="list-group-item" asp-controller="Home" asp-action="CombatArtsAndSpells">Combat Arts/Spells</a>
            <a class="list-group-item" asp-controller="Home" asp-action="Routes">Route-specific</a>
        </div>
    </div>
</div>