img.banner {
    height: 6vh;
    margin: 10px;
}

img.banner-large {
    height: 20vh;
}

img.unaffiliated {
    background-color: gray;
    border-radius: 25px;
    height: 15vh;
}

img.byleth {
    background-color: darkgreen;
    border-radius: 25px;
    height: 15vh;
}

img.blackEagles {
    background-color: red;
    border-radius: 25px;
    height: 15vh;
}

img.blueLions {
    background-color: darkslateblue;
    border-radius: 25px;
    height: 15vh;
}

img.goldenDeer {
    background-color: peru;
    border-radius: 25px;
    height: 15vh;
}

img.churchOfSeiros {
    background-color: silver;
    border-radius: 25px;
    height: 15vh;
}

img.lord {
    border: 3px dashed white;
}

img.dlc {
    border: 4px dotted fuchsia;
}

img.best {
    border: 3px dashed goldenrod;
}

img.worst {
    border: 3px dashed black;
}