<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FE:TH Library - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FE:TH Library</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Characters">Characters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Classes">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CombatArtsAndSpells">Combat Arts/Spells</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Routes">Route-specific</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="sidebar-wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Classes</h3>
            </div>
            <ul class="list-unstyled">
                <li class="active">
                    <a href="#unique" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Unique - LV 1</a>
                    <ul class="list-item collapse list-unstyled" id="unique">
                        <li><a asp-controller="Class" asp-action="Commoner">Commoner</a></li>
                        <li><a asp-controller="Class" asp-action="Noble">Noble</a></li>
                        <li><a asp-controller="Class" asp-action="Dancer">Dancer</a></li>
                        <li><a asp-controller="Class" asp-action="EnlightenedOne" style="color: darkgreen;">Enlightened One</a></li>
                        <li><a asp-controller="Class" asp-action="ArmoredLord" style="color: crimson;">Armored Lord</a></li>
                        <li><a asp-controller="Class" asp-action="Emperor" style="color: crimson;">Emperor</a></li>
                        <li><a asp-controller="Class" asp-action="HighLord" style="color: navy;">High Lord</a></li>
                        <li><a asp-controller="Class" asp-action="GreatLord" style="color: navy;">Great Lord</a></li>
                        <li><a asp-controller="Class" asp-action="WyvernMaster" style="color: peru;">Wyvern Master</a></li>
                        <li><a asp-controller="Class" asp-action="Barbarossa" style="color: peru;">Barbarossa</a></li>
                    </ul>
                    <a href="#beginner" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Beginner - LV 5</a>
                    <ul class="list-item collapse list-unstyled" id="beginner">
                        <li><a asp-controller="Class" asp-action="Myrmidon">Myrmidon</a></li>
                        <li><a asp-controller="Class" asp-action="Soldier">Soldier</a></li>
                        <li><a asp-controller="Class" asp-action="Fighter">Fighter</a></li>
                        <li><a asp-controller="Class" asp-action="Monk">Monk</a></li>
                    </ul>
                    <a href="#intermediate" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Intermediate - LV 10</a>
                    <ul class="list-item collapse list-unstyled" id="intermediate">
                        <li><a asp-controller="Class" asp-action="Lord">Lord (House Leader only)</a></li>
                        <li><a asp-controller="Class" asp-action="Mercenary">Mercenary</a></li>
                        <li><a asp-controller="Class" asp-action="Thief">Thief</a></li>
                        <li><a asp-controller="Class" asp-action="ArmoredKnight">Armored Knight</a></li>
                        <li><a asp-controller="Class" asp-action="Cavalier">Cavalier</a></li>
                        <li><a asp-controller="Class" asp-action="Brigand">Brigand</a></li>
                        <li><a asp-controller="Class" asp-action="Archer">Archer</a></li>
                        <li><a asp-controller="Class" asp-action="Brawler">Brawler (male-only)</a></li>
                        <li><a asp-controller="Class" asp-action="Mage">Mage</a></li>
                        <li><a asp-controller="Class" asp-action="DarkMage">Dark Mage (male-only)</a></li>
                        <li><a asp-controller="Class" asp-action="Priest">Priest</a></li>
                        <li><a asp-controller="Class" asp-action="PegasusKnight">Pegasus Knight (female-only)</a></li>
                    </ul>
                    <a href="#advanced" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Advanced - LV 20</a>
                    <ul class="list-item collapse list-unstyled" id="advanced">
                        <li><a asp-controller="Class" asp-action="Hero">Hero (male-only)</a></li>
                        <li><a asp-controller="Class" asp-action="Swordmaster">Swordmaster</a></li>
                        <li><a asp-controller="Class" asp-action="Assassin">Assassin</a></li>
                        <li><a asp-controller="Class" asp-action="FortressKnight">Fortress Knight</a></li>
                        <li><a asp-controller="Class" asp-action="Paladin">Paladin</a></li>
                        <li><a asp-controller="Class" asp-action="WyvernRider">Wyvern Rider</a></li>
                        <li><a asp-controller="Class" asp-action="Warrior">Warrior</a></li>
                        <li><a asp-controller="Class" asp-action="Sniper">Sniper</a></li>
                        <li><a asp-controller="Class" asp-action="Grappler">Grappler (male-only)</a></li>
                        <li><a asp-controller="Class" asp-action="Warlock">Warlock</a></li>
                        <li><a asp-controller="Class" asp-action="DarkBishop">Dark Bishop (male-only)</a></li>
                        <li><a asp-controller="Class" asp-action="Bishop">Bishop</a></li>
                    </ul>
                    <a href="#master" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Master - LV 30</a>
                    <ul class="list-item collapse list-unstyled" id="master">
                        <li><a asp-controller="Class" asp-action="FalconKnight">Falcon Knight (female-only)</a></li>
                        <li><a asp-controller="Class" asp-action="WyvernLord">Wyvern Lord</a></li>
                        <li><a asp-controller="Class" asp-action="MortalSavant">Mortal Savant</a></li>
                        <li><a asp-controller="Class" asp-action="GreatKnight">Great Knight</a></li>
                        <li><a asp-controller="Class" asp-action="BowKnight">Bow Knight</a></li>
                        <li><a asp-controller="Class" asp-action="DarkKnight">Dark Knight</a></li>
                        <li><a asp-controller="Class" asp-action="HolyKnight">Holy Knight</a></li>
                        <li><a asp-controller="Class" asp-action="WarMaster">War Master (male-only)</a></li>
                        <li><a asp-controller="Class" asp-action="Gremory">Gremory (female-only)</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/classSidebar.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
