@{
    ViewData["Title"] = "Bishop";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="3" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Bishop <img src="~/img/data/classes/bishop.png" title="Bishop" /></h2>
                <p><i>A white-magic specialist, this versatile class can use magic to either heal or attack.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Linhardt"><img class="blackEagles" src="~/img/data/characters/linhardt-ts.png" title="Linhardt" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Mercedes"><img class="blueLions" src="~/img/data/characters/mercedes-ts.png" title="Mercedes" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Annette"><img class="blueLions" src="~/img/data/characters/annette-ts.png" title="Annette" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Lysithea"><img class="goldenDeer" src="~/img/data/characters/lysithea-ts.png" title="Lysithea" /></a></th>
                    </tr>
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Marianne"><img class="goldenDeer" src="~/img/data/characters/marianne-ts.png" title="Marianne" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Flayn"><img class="churchOfSeiros" src="~/img/data/characters/flayn.png" title="Flayn" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Manuela"><img class="churchOfSeiros" src="~/img/data/characters/manuela.png" title="Manuela" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>A</b></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Black / Dark Magic" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class <a asp-controller="Home" asp-action="Abilities">Abilities</a></h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/white-magic-heal-plus-ten.png" title="White Magic Heal +10" style="width: 3vw;" /><b>White Magic Heal +10</b><br /><i>Heal 10 extra HP when using white magic.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/white-magic-uses-times-two.png" title="White Magic Uses x2" style="width: 3vw;" /><b>White Magic Uses x2</b><br /><i>Doubles the number of uses for white magic.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/terrain-resistance.png" title="Terrain Resistance" style="width: 3vw;" /><b>Terrain Resistance</b><br /><i>Nullifies damage from terrain.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/renewal.png" title="Renewal" style="width: 3vw;" /><b>Renewal</b><br /><i>Unit recovers up to 20% of max HP at the start of each turn.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">30</th>
                            <th scope="row">8</th>
                            <th scope="row">15</th>
                            <th scope="row">12</th>
                            <th scope="row">14</th>
                            <th scope="row">10</th>
                            <th scope="row">12</th>
                            <th scope="row">15</th>
                            <th scope="row">0</th>
                            <th scope="row">4</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">10</th>
                            <th scope="row">-5</th>
                            <th scope="row">5</th>
                            <th scope="row">10</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>