@{
    ViewData["Title"] = "Dancer";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="0" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Dancer <img src="~/img/data/classes/dancer.png" title="Dancer" /></h2>
                <p><i>The Dancer energizes allies with inspiring movement, allowing them to act again. This class also wields magic.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Dorothea"><img class="blackEagles" src="~/img/data/characters/dorothea.png" title="Dorothea" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Ferdinand"><img class="blackEagles" src="~/img/data/characters/ferdinand.png" title="Ferdinand" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Annette"><img class="blueLions" src="~/img/data/characters/annette.png" title="Annette" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Marianne"><img class="goldenDeer" src="~/img/data/characters/marianne.png" title="Marianne" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Flayn"><img class="churchOfSeiros" src="~/img/data/characters/flayn.png" title="Flayn" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <p><i>The Dancer is unlocked for the winner of the White Heron Cup during Part 1, Chapter 9.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                                <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Black / Dark Magic" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class <a asp-controller="Home" asp-action="Abilities">Abilities</a></h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/dance.png" title="Dance" style="width: 3vw;" /><b>Dance</b><br /><i>Use Dance to allow an ally to move again.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/sword-avoid.png" title="Sword AVO +20" style="width: 3vw;" /><b>Sword AVO +20</b><br /><i>Grants AVO +20 when using a sword.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <p><img src="~/img/data/abilities/special-dance.png" title="Special Dance" style="width: 3vw;" /><b>Special Dance:</b> <i>When using the Dance ability, grant DEX/SPD/LCK +4 to target ally.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">20</th>
                            <th scope="row">-5</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">-5</th>
                            <th scope="row">-5</th>
                            <th scope="row">10</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>