@{
    ViewData["Title"] = "Dark Knight";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="4" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Dark Knight <img src="~/img/data/classes/dark-knight.png" title="Dark Knight" /></h2>
                <p><i>A mysterious knight versed in black magic, this class can move again after taking certain actions.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Hubert"><img class="blackEagles" src="~/img/data/characters/hubert-ts.png" title="Hubert" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Ferdinand"><img class="blackEagles" src="~/img/data/characters/ferdinand-ts.png" title="Ferdinand" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Linhardt"><img class="blackEagles" src="~/img/data/characters/linhardt-ts.png" title="Linhardt" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Mercedes"><img class="blueLions" src="~/img/data/characters/mercedes-ts.png" title="Mercedes" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Annette"><img class="blueLions" src="~/img/data/characters/annette-ts.png" title="Annette" /></a></th>                  
                    </tr>
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Sylvain"><img class="blueLions" src="~/img/data/characters/sylvain-ts.png" title="Sylvain" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Lorenz"><img class="goldenDeer" src="~/img/data/characters/lorenz-ts.png" title="Lorenz" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Ignatz"><img class="goldenDeer" src="~/img/data/characters/ignatz-ts.png" title="Ignatz" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Hanneman"><img class="churchOfSeiros" src="~/img/data/characters/hanneman.png" title="Hanneman" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>C</b></th>
                            <th scope="row"><b>B+</b></th>
                            <th scope="row"><b>A</b></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                                <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Black / Dark Magic" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class <a asp-controller="Home" asp-action="Abilities">Abilities</a></h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/black-tomefaire.png" title="Black Tomefaire" style="width: 3vw;" /><b>Black Tomefaire</b><br /><i>Grants ATK +5 when using black magic.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/dark-tomefaire.png" title="Dark Tomefaire" style="width: 3vw;" /><b>Dark Tomefaire</b><br /><i>Grants ATK +5 when using dark magic.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/canto.png" title="Canto" style="width: 3vw;" /><b>Canto</b><br /><i>Allows unit to move again after completing certain actions, if there is MOV remaining.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/seal-resistance.png" title="Seal Resistance" style="width: 3vw;" /><b>Seal Resistance</b><br /><i>If unit damages foe during combat, foe suffers RES -6 for 1 turn after combat.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">32</th>
                            <th scope="row">10</th>
                            <th scope="row">17</th>
                            <th scope="row">14</th>
                            <th scope="row">16</th>
                            <th scope="row">12</th>
                            <th scope="row">13</th>
                            <th scope="row">15</th>
                            <th scope="row">0</th>
                            <th scope="row">7</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">10</th>
                            <th scope="row">5</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">-5</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row">10</th>
                            <th scope="row">5</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>