@{
    ViewData["Title"] = "Enlightened One";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="0" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Enlightened One <img src="~/img/data/classes/enlightened-one.png" title="Enlightened One" /></h2>
                <p><i>A holy one, blessed by the goddess herself, this wielder of magic has high overall stats.</i></p>
                <p><i>The Enlightened One is Byleth's unique class.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Byleth"><img class="byleth" src="~/img/data/characters/byleth-m-ts.png" title="Byleth [M]" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Byleth"><img class="byleth" src="~/img/data/characters/byleth-f-ts.png" title="Byleth [F]" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <p><i>Byleth will automatically swap to this class in Part 1, Chapter 11.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                                <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                                <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                                <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                                <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                                <th scope="col"><img src="~/img/data/skills/lance.png" title="Bow" /></th>
                                <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Black / Dark Magic" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class <a asp-controller="Home" asp-action="Abilities">Abilities</a></h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/swordfaire.png" title="Swordfaire" style="width: 3vw;" /><b>Swordfaire</b><br /><i>Grants ATK +5 when using a sword.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/terrain-resistance.png" title="Terrain Resistance" style="width: 3vw;" /><b>Terrain Resistance</b><br /><i>Nullifies damage from terrain.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <p><img src="~/img/data/abilities/sacred-power.png" title="Sacred Power" style="width: 3vw;" /><b>Sacred Power:</b> <i>Adjacent allies deal 3 extra damage and take 3 less damage during combat.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">28</th>
                            <th scope="row">17</th>
                            <th scope="row">8</th>
                            <th scope="row">12</th>
                            <th scope="row">14</th>
                            <th scope="row">10</th>
                            <th scope="row">12</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">20</th>
                            <th scope="row">10</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>