@{
    ViewData["Title"] = "Enlightened One";
    Layout = "_ClassLayout";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Enlightened One <img src="~/img/data/classes/enlightened-one.png" title="Enlightened One" /></h2>
                <p><i>A holy one, blessed by the goddess herself.</i></p>
                <p><i>The Enlightened One is Byleth's unique class.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <table class="table" style="text-align: left;">
                    <tr>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 7vw;"><b>Recommended for:</b></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Byleth"><img src="~/img/data/characters/byleth-m-ts.png" title="Byleth [M]" style="width: 7vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Byleth"><img src="~/img/data/characters/byleth-f-ts.png" title="Byleth [F]" style="width: 7vw;" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle; width: 7vw;"><b>Skill requirements</b></th>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col" style="vertical-align: middle; width: 7vw;"><b>Weaponry</b></th>
                        <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                        <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                        <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                        <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                        <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                        <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                        <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                        <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <table class="table" style="text-align: center; vertical-align: middle;">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle; width: 7vw;"><b>Abilities</b></th>
                            <th scope="col" style="vertical-align: middle; width: 7vw;">1</th>
                            <th scope="col" style="vertical-align: middle; width: 7vw;">2</th>
                            <th scope="col" style="vertical-align: middle; width: 7vw;">3</th>
                            <th scope="col" style="width: 7vw;"><img src="~/img/data/skills/class-mastery.png" title="Class Mastery" style="width: 3vw;" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><img src="~/img/data/abilities/swordfaire.png" title="Swordfaire" style="width: 3vw;" /></th>
                            <th scope="col"><img src="~/img/data/abilities/terrain-resistance.png" title="Terrain Resistance" style="width: 3vw;" /></th>
                            <th scope="col">-</th>
                            <th scope="col"><img src="~/img/data/abilities/sacred-power.png" title="Sacred Power" style="width: 3vw;" /></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">28</th>
                            <th scope="row">17</th>
                            <th scope="row">8</th>
                            <th scope="row">12</th>
                            <th scope="row">14</th>
                            <th scope="row">10</th>
                            <th scope="row">12</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">20</th>
                            <th scope="row">10</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row">5</th>
                            <th scope="row">10</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>