@{
    ViewData["Title"] = "Mortal Savant";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="4" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Mortal Savant <img src="~/img/data/classes/mortal-savant.png" title="Mortal Savant" /></h2>
                <p><i>A master who casts powerful magic and wields a sword with confidence and poise, the Mortal Savant is a force to be reckoned with.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Dorothea"><img class="blackEagles" src="~/img/data/characters/dorothea-ts.png" title="Dorothea" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Petra"><img class="blackEagles" src="~/img/data/characters/petra-ts.png" title="Petra" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Felix"><img class="blueLions" src="~/img/data/characters/felix-ts.png" title="Felix" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Ingrid"><img class="blueLions" src="~/img/data/characters/ingrid-ts.png" title="Ingrid" /></a></th>
                    </tr>
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Hilda"><img class="goldenDeer" src="~/img/data/characters/hilda-ts.png" title="Hilda" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Ignatz"><img class="goldenDeer" src="~/img/data/characters/ignatz-ts.png" title="Ignatz" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Catherine"><img class="churchOfSeiros" src="~/img/data/characters/catherine.png" title="Catherine" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Manuela"><img class="churchOfSeiros" src="~/img/data/characters/manuela.png" title="Manuela" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>A</b></th>
                            <th scope="row"><b>B+</b></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Black / Dark Magic" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class <a asp-controller="Home" asp-action="Abilities">Abilities</a></h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/swordfaire.png" title="Swordfaire" style="width: 3vw;" /><b>Swordfaire</b><br /><i>Grants ATK +5 when using a sword.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/black-tomefaire.png" title="Black Tomefaire" style="width: 3vw;" /><b>Black Tomefaire</b><br /><i>Grants ATK +5 when using black magic.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/warding-blow.png" title="Warding Blow" style="width: 3vw;" /><b>Warding Blow</b><br /><i>If unit initiates combat, grants RES +6 during combat.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">32</th>
                            <th scope="row">17</th>
                            <th scope="row">17</th>
                            <th scope="row">14</th>
                            <th scope="row">16</th>
                            <th scope="row">12</th>
                            <th scope="row">14</th>
                            <th scope="row">12</th>
                            <th scope="row">0</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">20</th>
                            <th scope="row">10</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">-10</th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>