@{
    ViewData["Title"] = "Myrmidon";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="1" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Myrmidon <img src="~/img/data/classes/myrmidon.png" title="Myrmidon" /></h2>
                <p><i>Especially swift, with high avoidance, the Myrmidon deftly wields the sword.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Byleth"><img src="~/img/data/characters/byleth-m.png" title="Byleth [M]" style="width: 7vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Byleth"><img src="~/img/data/characters/byleth-f.png" title="Byleth [F]" style="width: 7vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Dorothea"><img src="~/img/data/characters/dorothea.png" title="Dorothea" style="width: 7vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Petra"><img src="~/img/data/characters/petra.png" title="Petra" style="width: 6vw;" /></a></th>
                    </tr>
                    <tr>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Felix"><img src="~/img/data/characters/felix.png" title="Felix" style="width: 7vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Ingrid"><img src="~/img/data/characters/ingrid.png" title="Ingrid" style="width: 6vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Hilda"><img src="~/img/data/characters/hilda.png" title="Hilda" style="width: 7vw;" /></a></th>
                        <th scope="col" style="width: 7vw;"><a asp-controller="Character" asp-action="Ignatz"><img src="~/img/data/characters/ignatz.png" title="Ignatz" style="width: 6.5vw;" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>D</b></th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/speed-plus-two.png" title="Speed +2" style="width: 3vw;" /><b>Speed +2:</b> <i>Increases SPD by 2.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/ca_special.png" title="Swap" style="width: 3vw;" /><b>Swap:</b> <i>Unit swaps position with an adjacent ally.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">20</th>
                            <th scope="row">7</th>
                            <th scope="row">3</th>
                            <th scope="row">6</th>
                            <th scope="row">6</th>
                            <th scope="row">4</th>
                            <th scope="row">5</th>
                            <th scope="row">2</th>
                            <th scope="row">0</th>
                            <th scope="row">4</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">10</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">-5</th>
                            <th scope="row">5</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>