@{
    ViewData["Title"] = "Valkyrie";
    Layout = "_ClassLayout";
}

<input type="hidden" id="group" value="5" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <h2>Valkyrie <img src="~/img/data/classes/valkyrie.png" title="Valkyrie" /></h2>
                <p><i>This knight excels in the art of black magic and can move again after combat.</i></p>
                <p><i>The Valkyrie is gender-locked to female characters only.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Recommended <a asp-controller="Home" asp-action="Characters">characters</a> for this class</h3>
                <table class="table" style="text-align: center;">
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Byleth"><img class="byleth" src="~/img/data/characters/byleth-f-ts.png" title="Byleth [F]" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Edelgard"><img class="blackEagles" src="~/img/data/characters/edelgard-ts.png" title="Edelgard" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Bernadetta"><img class="blackEagles" src="~/img/data/characters/bernadetta-ts.png" title="Bernadetta" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Mercedes"><img class="blueLions" src="~/img/data/characters/mercedes-ts.png" title="Mercedes" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Annette"><img class="blueLions" src="~/img/data/characters/annette-ts.png" title="Annette" /></a></th>
                    </tr>
                    <tr>
                        <th scope="col"><a asp-controller="Character" asp-action="Lysithea"><img class="goldenDeer" src="~/img/data/characters/lysithea-ts.png" title="Lysithea" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Marianne"><img class="goldenDeer" src="~/img/data/characters/marianne-ts.png" title="Marianne" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Constance"><img class="ashenWolves" src="~/img/data/characters/constance.png" title="Constance" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Hapi"><img class="ashenWolves" src="~/img/data/characters/hapi.png" title="Hapi" /></a></th>
                        <th scope="col"><a asp-controller="Character" asp-action="Flayn"><img class="churchOfSeiros" src="~/img/data/characters/flayn.png" title="Flayn" /></a></th>
                    </tr>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Certificate Requirements</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>B</b></th>
                            <th scope="row"><b>B</b></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm">
                        <h3>Class Proficiencies</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" />+3</th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" />+1</th>
                                <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" />+3</th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">
                        <h3>Class Restrictions</h3>
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th scope="col"><img src="~/img/data/skills/reason.png" title="Black / Dark Magic" /></th>
                                <th scope="col"><img src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class <a asp-controller="Home" asp-action="Abilities">Abilities</a></h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/black-magic-range-plus-one.png" title="Black Magic Range +1" style="width: 3vw;" /><b>Black Magic Range +1</b><br /><i>Increases black magic range by 1.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/dark-magic-range-plus-one.png" title="Dark Magic Range +1" style="width: 3vw;" /><b>Dark Magic Range +1</b><br /><i>Increases dark magic range by 1.</i></p>
                    </div>
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/canto.png" title="Canto" style="width: 3vw;" /><b>Canto</b><br /><i>Allows unit to move again after completing certain actions, if there is MOV remaining.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Mastery</h3>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/uncanny-blow.png" title="Uncanny Blow" style="width: 3vw;" /><b>Uncanny Blow</b><br /><i>If unit initiates combat, grants Hit +30 during combat.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h3>Class Stats</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                            <th scope="col">MOV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">20</th>
                            <th scope="row">5</th>
                            <th scope="row">10</th>
                            <th scope="row">10</th>
                            <th scope="row">9</th>
                            <th scope="row">9</th>
                            <th scope="row">9</th>
                            <th scope="row">13</th>
                            <th scope="row">0</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Boost (mounted)</b></th>
                            <th scope="row">1</th>
                            <th scope="row">0</th>
                            <th scope="row">4</th>
                            <th scope="row">0</th>
                            <th scope="row">0 (-2)</th>
                            <th scope="row">0</th>
                            <th scope="row">0</th>
                            <th scope="row">1 (+1)</th>
                            <th scope="row">2</th>
                            <th scope="row">0 (+2)</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">5</th>
                            <th scope="row">0</th>
                            <th scope="row">5</th>
                            <th scope="row">0</th>
                            <th scope="row">-5</th>
                            <th scope="row">5</th>
                            <th scope="row">5</th>
                            <th scope="row">10</th>
                            <th scope="row">10</th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>