@{
    ViewData["Title"] = "Anna";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="~/img/data/characters/anna.png" title="Anna" style="width: 100%;" />
                    </div>
                    <div class="col-sm">
                        <h2>Anna - The Merchant</h2>
                        <p><b>Bio:</b><br />Anna runs the marketplace during map preparations and the secret shop that appears in Garreg Mach Monastery.</p>
                        <p><b>Age:</b> 25</p>
                        <p><b>Height</b>: 168 cm</p>
                        <p><b>Birthday:</b> 9th of Garland Moon</p>
                        <p><b><a asp-controller="Data" asp-action="Crests">Crest(s): </a></b><img src="~/img/data/crests/ernest.png" title="Crest of Ernest" /> Major Crest of Ernest<br /><i>A Crest long lost to history. Occasionally stops enemy counterattacks when using a weapon.</i></p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm">
                        <p><b>Starting <a asp-controller="Data" asp-action="Classes">class:</a></b><a asp-controller="Data" asp-action="ClassMyrmidon"><img src="~/img/data/classes/myrmidon.png" />Myrmidon</a></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Personal <a asp-controller="Data" asp-action="Abilities">Ability:</a></b></p>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/pomp-and-circumstance.png" title="Business Prosperity" style="width: 5%;" /><b>Business Prosperity:</b> <i>Grants LCK +5.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Proficiencies:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill</b></th>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Proficiency</b></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/budding-talent.png" title="Budding Talent" /></th>
                            <th scope="row"></th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Starting value</b></th>
                            <th scope="row">D</th>
                            <th scope="row">E</th>
                            <th scope="row">E+</th>
                            <th scope="row">E+</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E+</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p><b>Budding Talent:</b></p>
                <p><img src="~/img/data/abilities/pass.png" title="Pass" style="width: 5%;" /><b>Pass:</b> <i>Allows unit to pass through spaces occupied by foes.</i></p>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Stats:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>% on Level Up</b></th>
                            <th scope="row">35</th>
                            <th scope="row">35</th>
                            <th scope="row">35</th>
                            <th scope="row">45</th>
                            <th scope="row">55</th>
                            <th scope="row">45</th>
                            <th scope="row">30</th>
                            <th scope="row">40</th>
                            <th scope="row">50</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">26</th>
                            <th scope="row">7</th>
                            <th scope="row">7</th>
                            <th scope="row">7</th>
                            <th scope="row">7</th>
                            <th scope="row">7</th>
                            <th scope="row">5</th>
                            <th scope="row">7</th>
                            <th scope="row">7</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Max</b></th>
                            <th scope="row">68</th>
                            <th scope="row">55</th>
                            <th scope="row">49</th>
                            <th scope="row">76</th>
                            <th scope="row">65</th>
                            <th scope="row">75</th>
                            <th scope="row">44</th>
                            <th scope="row">49</th>
                            <th scope="row">60</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Data" asp-action="Abilities">Abilities:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/authority.png" title="Authority" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/rally-luck.png" title="Rally Luck" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-vantage.png" title="Battalion Vantage" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character Combat Arts / Spells:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/sword.png" title="Sword" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Soulblade</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Hexblade</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/axe.png" title="Axe" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Spike</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Armored Strike</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/bow.png" title="Bow" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Break Shot</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/reason.png" title="Black/Dark magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Fire</th>
                            <th scope="row">Thunder</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Meteor</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/faith.png" title="White magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Heal</th>
                            <th scope="row">Nosferatu</th>
                            <th scope="row">Ward</th>
                            <th scope="row">-</th>
                            <th scope="row">Rescue</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>