@{
    ViewData["Title"] = "Annette";
    Layout = "_CharacterLayout";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/img/data/characters/annette.png" title="Annette" style="width: 80%;" />
                        <img src="~/img/data/characters/annette-ts.png" title="Annette" style="width: 80%;" />
                    </div>
                    <div class="col-sm">
                        <h2>Annette Fantine Dominic<br />- Bloomed Overachiever</h2>
                        <p><b>Bio:</b><br />The niece of Baron Dominic. She graduated from the Magic Academy in the Royal Capital with flying colours. She’s cheerful and hard-working, but she can often waste her energy and end up nowhere. Mercedes is a close friend of hers from her Magic Academy days; the pair call each other “Mercie” and “Ann”.</p>
                        <p><b>Age:</b> 16</p>
                        <p><b>Height</b>: 151 cm</p>
                        <p><b>Birthday:</b> 9th of Harpstring Moon</p>
                        <p><b><a asp-controller="Home" asp-action="Crests">Crest(s): </a></b><img src="~/img/data/crests/dominic.png" title="Crest of Dominic" /> Minor Crest of Dominic<br /><i>House Dominic’s Crest, inherited from Dominic of the 10 Elites. Occasionally conserves uses of attack magic.</i></p>
                        <p><b>Recruitment:</b> Byleth needs at least 10 MAG and a B-rank in <img src="~/img/data/skills/faith.png" title="Faith" />.</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm">
                        <p><b>Starting <a asp-controller="Home" asp-action="Classes">class:</a></b><a asp-controller="Class" asp-action="Noble"><img src="~/img/data/classes/noble.png" />Noble</a></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Personal <a asp-controller="Home" asp-action="Abilities">Ability:</a></b></p>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/rally-strength.png" title="Perseverance" style="width: 5%;" /><b>Perseverance:</b> <i>Use Rally to grant STR +4 to an ally.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Proficiencies:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill</b></th>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Proficiency</b></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Starting value</b></th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E+</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">D+</th>
                            <th scope="row">E</th>
                            <th scope="row">E+</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Stats:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">23</th>
                            <th scope="row">6</th>
                            <th scope="row">11</th>
                            <th scope="row">7</th>
                            <th scope="row">7</th>
                            <th scope="row">6</th>
                            <th scope="row">5</th>
                            <th scope="row">4</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Max</b></th>
                            <th scope="row">55</th>
                            <th scope="row">43</th>
                            <th scope="row">73</th>
                            <th scope="row">69</th>
                            <th scope="row">50</th>
                            <th scope="row">49</th>
                            <th scope="row">40</th>
                            <th scope="row">41</th>
                            <th scope="row">49</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">25%</th>
                            <th scope="row">30%</th>
                            <th scope="row">50%</th>
                            <th scope="row">50%</th>
                            <th scope="row">35%</th>
                            <th scope="row">35%</th>
                            <th scope="row">20%</th>
                            <th scope="row">30%</th>
                            <th scope="row">35%</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="Abilities">Abilities:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/authority.png" title="Authority" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/rally-resistance.png" title="Rally Resistance" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-renewal.png" title="Battalion Renewal" style="width: 50%;" /></th>
                            <th scope="row"><img src="~/img/data/abilities/rally-speed.png" title="Rally Speed" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-wrath.png" title="Battalion Wrath" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/rally-movement.png" title="Rally Movement" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="CombatArtsAndSpells">Combat Arts / Spells:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/axe.png" title="Axe" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Lightning Axe</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/reason.png" title="Black/Dark magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Wind</th>
                            <th scope="row">-</th>
                            <th scope="row">Cutting Gale</th>
                            <th scope="row">-</th>
                            <th scope="row">Sagittae</th>
                            <th scope="row">-</th>
                            <th scope="row">Excalibur</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/faith.png" title="White magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Heal</th>
                            <th scope="row">Nosferatu</th>
                            <th scope="row">Recover</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Abraxas</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>