@{
    ViewData["Title"] = "Dorothea";
    Layout = "_CharacterLayout";
}

<input type="hidden" id="group" value="1" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm" style="text-align: center;">
                        <img class="character-double" src="~/img/data/characters/dorothea.png" title="Dorothea" />
                        <img class="character-double" src="~/img/data/characters/dorothea-ts.png" title="Dorothea" />
                    </div>
                    <div class="col-sm">
                        <h2>Dorothea Arnault<br />- Mystical Songstress</h2>
                        <p><b>Faction:</b> Adrestian Empire</p>
                        <p><b>Bio:</b><br />A female student who was a popular songstress in the Imperial capital, Enbarr, before she enrolled. She admires Manuela, who came from the same Mittelfrank Opera Company, as her senior. Within the Black Eagles, she's the only commoner, which makes her feel uneasy, but she treats all of her similarly aged friends as equals.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><b>Age:</b> 18 / 23</p>
                            </div>
                            <div class="col-sm-6">
                                <p><b>Height</b>: 170 cm</p>
                            </div>
                        </div>
                        <p><b>Birthday:</b> 29th of Horsebow Moon</p>
                        <p><b>Recruitment:</b> Byleth needs at least 25 CHA and a B-rank in <img class="ability" src="~/img/data/skills/authority.png" title="Authority" />.</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm">
                        <p><b>Starting <a asp-controller="Home" asp-action="Classes">class:</a></b><a asp-controller="Class" asp-action="Commoner"><img class="class-small" src="~/img/data/classes/commoner.png" />Commoner</a></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <p><b>Personal <a asp-controller="Home" asp-action="Abilities">Ability:</a></b></p>
                <div class="row">
                    <div class="col-sm">
                        <p><img class="ability" src="~/img/data/abilities/songstress.png" title="Songstress" /><b>Songstress</b><br /><i>Adjacent allies recover up to 10% of their max HP at the start of each turn.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Recommended <a asp-controller="Home" asp-action="Classes">Class</a> route:</b></p>
                <table class="table centered-row" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col">Character</th>
                            <th scope="col">Weapon(s)</th>
                            <th scope="col">Level 5</th>
                            <th scope="col">Level 10</th>
                            <th scope="col">Level 20</th>
                            <th scope="col">Level 30</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col"><img class="blackEagles" src="~/img/data/characters/dorothea-mixed.png" title="Dorothea" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/reason.png" title="Black Magic" /><img class="skill" src="~/img/data/skills/faith.png" title="White Magic" /></th>
                            <th scope="col"><a asp-controller="Class" asp-action="Monk"><img class="class mastery" src="~/img/data/classes/monk.png" title="Monk (Mastered)" /></a></th>
                            <th scope="col"><a asp-controller="Class" asp-action="Mage"><img class="class mastery" src="~/img/data/classes/mage.png" title="Mage (Mastered)" /></a></th>
                            <th scope="col"><a asp-controller="Class" asp-action="Warlock"><img class="class" src="~/img/data/classes/warlock.png" title="Warlock" /></a></th>
                            <th scope="col"><a asp-controller="Class" asp-action="Gremory"><img class="class" src="~/img/data/classes/gremory.png" title="Gremory" /></a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 20px;">
                <p><b>Character Proficiencies:</b></p>
                <table class="table centered-row" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle;"><b>Skill</b></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/faith.png" title="Faith" style="margin-left: 25px; margin-right: 25px;" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img class="skill" src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Proficiency</b></th>
                            <th scope="row"><img class="skill" src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"><img class="skill" src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img class="skill" src="~/img/data/skills/weakness.png" title="Weakness" style="margin: 0px;" /><img class="skill" src="~/img/data/skills/budding-talent.png" title="Budding Talent" style="margin: 0px;" /></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"><img class="skill" src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"><img class="skill" src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Starting value</b></th>
                            <th scope="row">E+</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">D</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
                <p><img class="skill" src="~/img/data/skills/budding-talent-complete.png" title="Budding Talent" />-><img class="ability" src="~/img/data/abilities/white-magic-avoid.png" title="White Magic Avoid +20" /><b>White Magic Avoid +20:</b> <i>Grants AVO +20 when using white magic.</i></p>
            </div>
            <div class="container" style="margin-top: 20px;">
                <p><b>Character Stats:</b></p>
                <table class="table centered-row" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle;"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="vertical-align: middle;"><b>Base</b></th>
                            <th scope="row">24</th>
                            <th scope="row">5</th>
                            <th scope="row">11</th>
                            <th scope="row">6</th>
                            <th scope="row">7</th>
                            <th scope="row">6</th>
                            <th scope="row">4</th>
                            <th scope="row">7</th>
                            <th scope="row">8</th>
                        </tr>
                        <tr>
                            <th scope="row" style="vertical-align: middle;"><b>Max</b></th>
                            <th scope="row">76</th>
                            <th scope="row">30</th>
                            <th scope="row">61</th>
                            <th scope="row">62</th>
                            <th scope="row">57</th>
                            <th scope="row">49</th>
                            <th scope="row">38</th>
                            <th scope="row">50</th>
                            <th scope="row">58</th>
                        </tr>
                        <tr>
                            <th scope="row" style="vertical-align: middle;"><b>Growth</b></th>
                            <th scope="row">40%</th>
                            <th scope="row">20%</th>
                            <th scope="row">40%</th>
                            <th scope="row">45%</th>
                            <th scope="row">40%</th>
                            <th scope="row">35%</th>
                            <th scope="row">15%</th>
                            <th scope="row">35%</th>
                            <th scope="row">40%</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="Abilities">Abilities</a>, <a asp-controller="Home" asp-action="CombatArtsAndSpells">Combat Arts and Spells:</a></b></p>
                <table class="table centered-row" style="text-align: center;">
                    <thead>
                        <tr style="vertical-align: middle;">
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img class="skill" src="~/img/data/skills/authority.png" title="Authority" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img class="ability" src="~/img/data/abilities/rally-charm.png" title="Rally Charm" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img class="ability" src="~/img/data/abilities/battalion-desperation.png" title="Battalion Desperation" /></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img class="skill" src="~/img/data/skills/sword.png" title="Sword" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Hexblade</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img class="skill" src="~/img/data/skills/reason.png" title="Black/Dark magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Thunder</th>
                            <th scope="row">-</th>
                            <th scope="row">Thoron</th>
                            <th scope="row">-</th>
                            <th scope="row">Sagittae</th>
                            <th scope="row">-</th>
                            <th scope="row">Meteor</th>
                            <th scope="row">Agnea's Arrow</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img class="skill" src="~/img/data/skills/faith.png" title="White magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Heal</th>
                            <th scope="row">Nosferatu</th>
                            <th scope="row">Physic</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>