@{
    ViewData["Title"] = "Hubert";
}

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/img/data/characters/hubert.png" title="Hubert" style="width: 80%;" />
                        <img src="~/img/data/characters/hubert-ts.png" title="Hubert" style="width: 80%;" />
                    </div>
                    <div class="col-sm-8">
                        <h2>Hubert von Vestra - Emperor's Confidant</h2>
                        <p><b>Faction:</b> Adrestian Empire</p>
                        <p><b>Bio:</b><br />The strategist of the Black Eagles. He's the heir of Marquis Vestra's family and has served Edelgard from a young age. He'll use any means necessary to eliminate her obstacles. According to Edelgard, he's a cold, but reasonable person.</p>
                        <p><b>Age:</b> 20</p>
                        <p><b>Height</b>: 188 cm</p>
                        <p><b>Birthday:</b> 17th of Great Tree Moon</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm">
                        <p><b>Starting <a asp-controller="Home" asp-action="Classes">class:</a></b><a asp-controller="Class" asp-action="Noble"><img src="~/img/data/classes/noble.png" />Noble</a></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Personal <a asp-controller="Home" asp-action="Abilities">Ability:</a></b></p>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/officer-duty.png" title="Officer Duty" style="width: 5%;" /><b>Officer Duty:</b> <i>Grants MT +5 with gambits.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Proficiencies:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill</b></th>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Proficiency</b></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/budding-talent.png" title="Budding Talent" /></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Starting value</b></th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">E+</th>
                            <th scope="row">E</th>
                            <th scope="row">D</th>
                            <th scope="row">E</th>
                            <th scope="row">E+</th>
                            <th scope="row">D</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p><b>Budding Talent:</b></p>
                <p><img src="~/img/data/abilities/ca_lance.png" title="Frozen Lance" style="width: 5%;" /><b>Frozen Lance:</b> <i>A magic attack. MT increases based on unit's DEX.</i></p>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Stats:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">22</th>
                            <th scope="row">6</th>
                            <th scope="row">12</th>
                            <th scope="row">6</th>
                            <th scope="row">7</th>
                            <th scope="row">6</th>
                            <th scope="row">4</th>
                            <th scope="row">7</th>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Max</b></th>
                            <th scope="row">67</th>
                            <th scope="row">43</th>
                            <th scope="row">80</th>
                            <th scope="row">62</th>
                            <th scope="row">63</th>
                            <th scope="row">51</th>
                            <th scope="row">45</th>
                            <th scope="row">57</th>
                            <th scope="row">49</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">35%</th>
                            <th scope="row">30%</th>
                            <th scope="row">55%</th>
                            <th scope="row">45%</th>
                            <th scope="row">45%</th>
                            <th scope="row">35%</th>
                            <th scope="row">25%</th>
                            <th scope="row">40%</th>
                            <th scope="row">35%</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="Abilities">Abilities:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/authority.png" title="Authority" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/rally-magic.png" title="Rally Magic" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-wrath.png" title="Battalion Wrath" style="width: 50%;" /></th>
                            <th scope="row"><img src="~/img/data/abilities/rally-resistance.png" title="Rally Resistance" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-desperation.png" title="Battalion Desperation" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/rally-speed.png" title="Rally Speed" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="CombatArtsAndSpells">Combat Arts / Spells:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/bow.png" title="Bow" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Heavy Draw</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Schism Shot</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/reason.png" title="Black/Dark magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Miasma Δ</th>
                            <th scope="row">Mire B</th>
                            <th scope="row">Banshee Θ</th>
                            <th scope="row">-</th>
                            <th scope="row">Death Γ</th>
                            <th scope="row">-</th>
                            <th scope="row">Dark Spikes T</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/faith.png" title="White magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Heal</th>
                            <th scope="row">Nosferatu</th>
                            <th scope="row">Recover</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>