@{
    ViewData["Title"] = "Jeritza";
    Layout = "_CharacterLayout";
}

<input type="hidden" id="group" value="1" />

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/img/data/characters/jeritza.png" title="Jeritza" style="width: 80%;" />
                        <img src="~/img/data/characters/jeritza-ts.png" title="Death Knight" style="width: 80%;" />
                    </div>
                    <div class="col-sm">
                        <h2>Jeritza von Hrym - Bloodstained Demon</h2>
                        <p><b>Faction:</b> Adrestian Empire</p>
                        <p><b>Bio:</b><br />A teacher within the Officer's Academy. He's a sword instructor who's main job is to train others. He dislikes involving himself with others, even straight out rejecting those who try to start an idle conversation with him. He's a man of many mysteries, but when considering his skills as the students' trainer, his sword skills are undeniable.</p>
                        <p><b>Age:</b> 21</p>
                        <p><b>Height</b>: 193 cm</p>
                        <p><b>Birthday:</b> 4th of Lone Moon</p>
                        <p><b><a asp-controller="Home" asp-action="Crests">Crest(s): </a></b><img src="~/img/data/crests/lamine.png" title="Crest of Lamine" /> Minor Crest of Lamine<br /><i>A Crest inherited from Lamine of the 10 Elites. Occasionally conserves uses of recovery magic.</i></p>
                        <p><b>Recruitment:</b> Crimson Flower only - automatically from the start of Part 2, Chapter 13.</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm">
                        <p><b>Starting/Unique <a asp-controller="Home" asp-action="Classes">class:</a></b><a asp-controller="Class" asp-action="DeathKnight"><img src="~/img/data/classes/death-knight.png" />Death Knight</a></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Personal <a asp-controller="Home" asp-action="Abilities">Ability:</a></b></p>
                <div class="row">
                    <div class="col-sm">
                        <p><img src="~/img/data/abilities/murderous-intent.png" title="Murderous Intent" style="width: 5%;" /><b>Murderous Intent:</b> <i>If unit initiates combat, grants HIT +20 during combat.</i></p>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Proficiencies:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill</b></th>
                            <th scope="col"><img src="~/img/data/skills/sword.png" title="Sword" /></th>
                            <th scope="col"><img src="~/img/data/skills/lance.png" title="Lance" /></th>
                            <th scope="col"><img src="~/img/data/skills/axe.png" title="Axe" /></th>
                            <th scope="col"><img src="~/img/data/skills/bow.png" title="Bow" /></th>
                            <th scope="col"><img src="~/img/data/skills/brawl.png" title="Brawling" /></th>
                            <th scope="col"><img src="~/img/data/skills/reason.png" title="Reason" /></th>
                            <th scope="col"><img src="~/img/data/skills/faith.png" title="Faith" /></th>
                            <th scope="col"><img src="~/img/data/skills/authority.png" title="Authority" /></th>
                            <th scope="col"><img src="~/img/data/skills/heavy-armor.png" title="Heavy Armor" /></th>
                            <th scope="col"><img src="~/img/data/skills/riding.png" title="Riding" /></th>
                            <th scope="col"><img src="~/img/data/skills/flying.png" title="Flying" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Proficiency</b></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"><img src="~/img/data/skills/weakness.png" title="Weakness" /></th>
                            <th scope="row"></th>
                            <th scope="row"><img src="~/img/data/skills/strength.png" title="Strength" /></th>
                            <th scope="row"><img src="~/img/data/skills/budding-talent.png" title="Budding Talent" /></th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Starting value</b></th>
                            <th scope="row">B</th>
                            <th scope="row">A</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">D+</th>
                            <th scope="row">E</th>
                            <th scope="row">E</th>
                            <th scope="row">B</th>
                            <th scope="row">E</th>
                            <th scope="row">B</th>
                            <th scope="row">E</th>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p><b>Budding Talent:</b></p>
                <p><img src="~/img/data/abilities/darting-blow.png" title="Darting Blow" style="width: 5%;" /><b>Darting Blow:</b> <i>If unit initiates combat, grants AS +6 during combat.</i></p>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Stats:</b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Stat</b></th>
                            <th scope="col">HP</th>
                            <th scope="col">STR</th>
                            <th scope="col">MAG</th>
                            <th scope="col">DEX</th>
                            <th scope="col">SPD</th>
                            <th scope="col">LCK</th>
                            <th scope="col">DEF</th>
                            <th scope="col">RES</th>
                            <th scope="col">CHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>Base</b></th>
                            <th scope="row">30</th>
                            <th scope="row">8</th>
                            <th scope="row">6</th>
                            <th scope="row">6</th>
                            <th scope="row">8</th>
                            <th scope="row">4</th>
                            <th scope="row">7</th>
                            <th scope="row">5</th>
                            <th scope="row">3</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Max</b></th>
                            <th scope="row">79</th>
                            <th scope="row">74</th>
                            <th scope="row">42</th>
                            <th scope="row">49</th>
                            <th scope="row">78</th>
                            <th scope="row">41</th>
                            <th scope="row">63</th>
                            <th scope="row">42</th>
                            <th scope="row">42</th>
                        </tr>
                        <tr>
                            <th scope="row"><b>Growth</b></th>
                            <th scope="row">50%</th>
                            <th scope="row">50%</th>
                            <th scope="row">35%</th>
                            <th scope="row">35%</th>
                            <th scope="row">60%</th>
                            <th scope="row">30%</th>
                            <th scope="row">40%</th>
                            <th scope="row">25%</th>
                            <th scope="row">25%</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="Abilities">Abilities:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/sword.png" title="Sword" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/mastermind.png" title="Mastermind" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/authority.png" title="Authority" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-wrath.png" title="Battalion Wrath" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row"><img src="~/img/data/abilities/battalion-desperation.png" title="Battalion Desperation" style="width: 50%;" /></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="margin-top: 10px;">
                <p><b>Character <a asp-controller="Home" asp-action="CombatArtsAndSpells">Combat Arts / Spells:</a></b></p>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col"><b>Skill level</b></th>
                            <th scope="col">E</th>
                            <th scope="col">E+</th>
                            <th scope="col">D</th>
                            <th scope="col">D+</th>
                            <th scope="col">C</th>
                            <th scope="col">C+</th>
                            <th scope="col">B</th>
                            <th scope="col">B+</th>
                            <th scope="col">A</th>
                            <th scope="col">A+</th>
                            <th scope="col">S</th>
                            <th scope="col">S+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/sword.png" title="Sword" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Haze Slice</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Windsweep</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/lance.png" title="Lance" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Shatter Slash</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Glowing Ember</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/brawl.png" title="Brawling" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Nimble Combo</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/reason.png" title="Black/Dark magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Thunder</th>
                            <th scope="row">-</th>
                            <th scope="row">Thoron</th>
                            <th scope="row">-</th>
                            <th scope="row">Death Γ</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                        <tr>
                            <th scope="row"><b><img src="~/img/data/skills/faith.png" title="White magic" /></b></th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">Heal</th>
                            <th scope="row">Nosferatu</th>
                            <th scope="row">Restore</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                            <th scope="row">-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>